*{
    box-sizing: border-box;
    
}

html{
    font-family: Inter,sans-serif;
    font-size: 18px;
}

body{
    margin: 0 auto;
    padding: 0;
    width: 70%;
    background-color: #f5f5f5;
}

main{
    width:100%;
}


div.one, div.two, div.three, div.four{
    width:100%;
    height: 40vh;
}

div.one div,div.two div,div.three div,div.four div{
    width:50%;
    height:100%;
    float:left;
}

div.one div img,div.two div img,div.three div img,div.four div img{
    width:100%;
    height:100%;
    padding:1rem 0;
    margin: auto;
}

div.one div img,div.three div img,div.two div.info,div.four div.info{
    padding-right:1rem;
    
}

div.two div img,div.four div img,div.one div.info,div.three div.info{
    padding-left:1rem;
   
}

div.info{
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

figure{
    margin:0;
    padding:0;
    width:100%;
}

#image{
    max-width: 100%;
    
    height: auto;
}

img{
    object-fit: cover;
    display: block;
    
}

h2,p:not(.header){
    margin:0;
}

h2{
    padding-bottom: 8px;
}

h1, p.header{
    text-align: center;
    margin:0;
    padding:0;
}

h1{
    padding:2rem 0 1rem 0;
}

p.header{
    padding-bottom: 2rem;
}

p.header, figcaption{
    font-style: italic;
}

span{
    font-weight: bold;
    font-style: normal;
}

section{
    text-align: center;
    height: 3rem;
    
    padding:0;
    margin:0;
}

.one{
    padding-top: 2rem;
}
